<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />

    <!-- 以下の内容は上長に確認してから本決定する -->
    <title>ご利用状況 - 駐車場ニーズマッチング支援PF</title>
    <meta name='description' content='ページの概要を100文字前後（最大200文字程度）' />
    <meta name='keywords' content='検索エンジンに提供するキーワードをカンマ区切りで入力' />
    <meta name='author' content='ページの作者を入力する' />

    <link rel='stylesheet' href='../static/css/centerBox.css' />
    <link rel='stylesheet' href='../static/css/common.css' />

</head>
<body>

    <article class='container'>
        <section class='box' style='max-width : 580px; min-width : 260px'>  <!-- 幅のみoverwrite -->
            <h1>詳細画面</h1>

            <!-- 実際には以下の内容は可変（サーバーから情報をもらって、その値を反映させる） -->
            <table class='inner flatTable'>
                <tr>
                    <td>日時</td>
                    <td>2022年 12月 21日</td>
                </tr>
                <tr>
                    <td>時間</td>
                    <td>10:00 - 11:00</td>
                </tr>
                <tr>
                    <td>料金</td>
                    <td>100円&sol;1時間</td>
                </tr>
                <tr>
                    <td>駐車期間</td>
                    <td>最小1時間、最大1ヶ月まで可</td>
                </tr>
                <tr>
                    <td>住所</td>
                    <td>〒350-1255 埼玉県日高市武蔵台4-13-4</td>
                </tr>
                <tr>
                    <td>TEL</td>
                    <td>080-4321-1234</td>
                </tr>
                <tr>
                    <td>備考</td>
                    <td>ゲートを開きますので、ご到着前にお電話ください。</td>
                </tr>
            </table>

            <footer>
                <nav class='buttonMenu'>
                    <form>
                        <input class='common_button common_fat' style='width : 42%;' type='button' value='ご利用の状況に戻る' />
                    </form>
                </nav>
            </footer>

        </section>
    </article>

</body>

</html>