:root { --adjustMargin : 0.5rem; } /* フォームの間隔調整用 */

label {vertical-align: middle;}
label.paragraph {
    margin-top : 0.3rem;
    font-size : 1em;
    text-align : left;
}

.postalCodeText {   /* この辺のmax、minの値については適当に決めただけなので、適宜、変更すること */
    max-width : 120px;
    min-width : 70px;
    width : 16%;
}
.priceText {
    max-width : 200px;
    min-width : 80px;
    width : 36%;
}
.timeText {
    max-width : 120px;
    min-width : 60px;
    width : 24%;
}
.midiumText {
    max-width : 150px;
    min-width : 100px;
    width : 30%;
}

.remarks {
    width : 90%;
    height : 5rem;
}

.withSelectButton {
    width : auto;
    float : left;
}

/*  ----- ----- ----- */
.secretItems {
    position : absolute;
    top : 0;
    left : 0;
    /* 表示、非表示を変えたい場合は以下を操作する */
    /* display : block; */
    display : none;
}


/*  ----- ----- ----- */
.grid_form_common {
    display : grid;
    min-width : 450px;
    max-width : 700px;
    width : 100%;

    grid-template-columns: 150px 1fr;
    align-content : start;

    row-gap: var(--adjustMargin, 0.5rem);
}

.grid_form { grid-area: form; margin-bottom : var(--adjustMargin, 0.5rem); margin-left : 1em;}
.grid_imageForm { grid-area: imageForm;}

.grid_mapTool { grid-area: mapTool; width : 100%; align-content : start;}
.grid_mapView { grid-area: mapView; }
.grid_imageView {
    grid-area: imageView;
    display: flex;
    justify-content: space-between;
}
.grid_imageView img {
    height : auto;
    width : calc((100% / 3) - 10px);
}


/* leaflet ----- ----- ----- */
#leaflet {

}

/* navigation ----- ----- ----- */
/* 2023/12/15 「地図にピンを打つ⇒住所に変換」の実装を解除する。それに伴いコメントアウト
#message1 {
    visibility : hidden;
    animation-name : navigateMessage;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
#message2 {
    visibility : hidden;
    animation-name : navigateMessage;
    animation-duration:3s;
    animation-iteration-count:0;
}
@keyframes navigateMessage {
    0%{
        visibility : visible;
        background-color : rgb(150, 95, 250);
        color : white;
        border-radius : 1.4em;
        width : 90%;
        opacity : 0;
    }
    50%{
        visibility : visible;
        background-color : rgb(0, 65, 210);
        color : white;
        border-radius : 1.4em;
        width : 90%;
        opacity : 1;
    }   
    100%{
        visibility : visible;
        background-color : rgb(150, 95, 250);
        color : white;
        border-radius : 1.4em;
        width : 90%;
        opacity : 0;
    }
}*/



/* overwrite ----- ----- ----- */
.inner {
    grid-template-areas:
    /* "form mapTool"
    "form mapView"
    "imageForm imageView" */

    /* 2023/10/11 ～ 12/15 配置入れ替え 地図を左側、入力を右側 */
    /* "mapTool form"
    "mapView form"
    "imageForm imageView" */

    /* 2023/12/15 配置再入れ替え　入力を左側、地図を右側（mapToolは不要に） */
    "form mapView"
    "imageForm imageView"
    ;

    align-items: start;
}
