body {
    margin : 0;
    padding : 0;
}

label {vertical-align: middle;}



.postalCodeText {   /* この辺のmax、minの値については適当に決めただけなので、適宜、変更すること */
    max-width : 160px;
    min-width : 70px;
    width : 22%;
}
.priceText {
    max-width : 200px;
    min-width : 80px;
    width : 36%;
}
.timeText {
    max-width : 120px;
    min-width : 60px;
    width : 24%;
}
.midiumText {
    max-width : 150px;
    min-width : 100px;
    width : 30%;
}

.remarks {
    width : 90%;
    height : 5rem;
}

.withSelectButton {
    width : 50%;
    float : left;
}

/*  ----- ----- ----- */
.grid_form {
    grid-area: items;
    display : grid;

    /* 縦幅と、描画位置の設定（左上） */
    /*grid-template-rows: 3fr 2fr 2fr 1fr;*/
    justify-items: start;   
    align-content : start;
}
.grid_form table { margin : 0.7rem 0;}
.grid_form table td { font-size : 1.6rem; }
.grid_form table td:first-child {width : 20%; font-weight : bold;}
.grid_form table.period td:nth-child(2n) {font-size : 3.4rem; font-weight : bold;} 

/*
.grid_form form {
    display : grid;
    width : 80%;


    grid-template-rows: 180px 65px 65px 1fr;

}
.grid_form form label { text-align : left; }
.grid_form form label select { width : 100%; }
*/

.grid_mapView {
    grid-area: mapView;
}

/* overwrite ----- ----- ----- */
.inner {
    grid-template-areas:
    "items mapView"
    ;

    grid-template-columns: 1fr 1.4fr;
    /*box-sizing: content-box;
    padding : 0;
    margin : 0;*/

    /*align-items: stretch;*/
}


/*
footer form {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;

    align-items: center;
}
footer form label {
    display : table-cell;
    vertical-align: middle;
}
*/

