<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />

    <!-- 以下の内容は上長に確認してから本決定する -->
    <title>管理者専用　月次のご利用状況 - 駐車場ニーズマッチング支援PF</title>
    <meta name='description' content='ページの概要を100文字前後（最大200文字程度）' />
    <meta name='keywords' content='検索エンジンに提供するキーワードをカンマ区切りで入力' />
    <meta name='author' content='ページの作者を入力する' />

    <link rel='stylesheet' href='../static/css/centerBox.css' />
    <link rel='stylesheet' href='../static/css/common.css' />


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/css/theme.default.min.css">

</head>
<body>

    <article class='container'>
        <section class='box_contents'>  <!-- 幅、グリッド組の微調整をextension_.cssで行う -->
            <h1>先月のご利用履歴</h1>
            <h2>{{lastMonth_start.strftime('%Y/%m/%d')}}～{{lastMonth_end.strftime('%d')}}</h2>

            <form>
                <table id="tablesorter">
                    {%if reservelist%}
                    <thead>
                        <tr>
                            <th >ご利用者</th>
                            <th >開始</th>
                            <th >終了</th>
                            <th >ご利用日数</th>
                            <th >駐車場名</th>                            
                            <th >住所</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for reserve in reservelist%}
                        <tr>
                            <td class="{sortValue: 1}">{{reserve.last_name}} {{reserve.first_name}}様</td>
                            <td class="{sortValue: 2}">{{reserve.use_start}}</td>
                            <td class="{sortValue: 3}">{{reserve.use_end}}</td>
                            <td class="{sortValue: 4}">{{reserve.use_days}}</td>
                            <td class="{sortValue: 4}">{{reserve.title}}</td>
                            <td class="{sortValue: 4}">{{reserve.address1}} {{reserve.address2}}</td>
                        </tr>
                        {%endfor%}
                        {%else%}
                        <p>現在、ご予約・ご利用はありません</p>
                        {%endif%}
                    </tbody>
                </table>
            </form>

            <nav class='buttonMenu'>
                <form method="POST" action="/adminDetailsMonth">
                    <p><button type="submit" input class='common_button_admin_submit common_fat' style='width : 42%;'>ダウンロード</button></p>
                </form>
                <form method="GET" action="/adminTop">
                    <p><button type="submit" input class='common_cancel common_fat' style='width : 42%;'>管理者メニューにもどる</button></p>
                </form>
            </nav>
            

        </section>
    </article>
    <script>
    $(function(){
        $('#tablesorter').tablesorter({
        });
    });
    </script>
</body>

</html>