<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />

    <!-- 以下の内容は上長に確認してから本決定する -->
    <title>管理者専用トップ - 駐車場ニーズマッチング支援PF</title>
    <meta name='description' content='ページの概要を100文字前後（最大200文字程度）' />
    <meta name='keywords' content='検索エンジンに提供するキーワードをカンマ区切りで入力' />
    <meta name='author' content='ページの作者を入力する' />

    <link rel='stylesheet' href='../static/css/centerBox.css' />
    <link rel='stylesheet' href='../static/css/common.css' />

</head>
<body>
    <article class='container'>
        <section class='box_contents'>  <!-- 幅、グリッド組の微調整をextension_.cssで行う -->
            <h1>管理者メニュー</h1>
            <p><a href="adminDetailsAll"><input class='common_button_admin_submit common_fat' style='width : 42%;' type='button' value='予約・利用状況全体' /></a></p>
            <p><a href="adminDetailsMonth"><input class='common_button_admin_submit common_fat' style='width : 42%;' type='button' value='月次情報の確認' /></a></p>
            <form method="POST" action="/adminTop">
                <p><button type="submit" input class='common_button_admin_submit common_fat' style='width : 42%;'>DBバックアップ</button></p>
            </form>
            <p><a href="login"><input class='common_cancel common_fat' style='width : 42%;' type='button' value='トップに戻る' /></a></p>
            <h2>{{message}}</h2>
        </section>
    </article>
</body>

</html>