<!DOCTYPE html>

<html>
<head>
	<meta charset='utf-8' />

    <!-- 以下の内容は上長に確認してから本決定する -->
    <title>駐車場登録完了 - 駐車場ニーズマッチング支援PF</title>
    <meta name='description' content='ページの概要を100文字前後（最大200文字程度）' />
    <meta name='keywords' content='検索エンジンに提供するキーワードをカンマ区切りで入力' />
    <meta name='author' content='ページの作者を入力する' />

    <link rel='stylesheet' href='../static/css/centerBox.css' />
    <link rel='stylesheet' href='../static/css/common.css' />

    <!--<link rel='stylesheet' href='extension_regComplete.css' /> -->

</head>
<body>

    <article class='container'>
        <section class='box'>
            <h1>駐車場ニーズマッチング支援PF</h1>

            <div class='inner_compact'>
            <p class='accentMessage'>登録が完了しました</p>
            </div>

            <footer>
                <nav class='buttonMenu'>
                    <form method="GET" action="{{ url_for('mainForm') }}">
                        <input class='common_button' style='width : 42%;' type='submit' value='トップ画面へ' />
                    </form>
                </nav>
            </footer>

        </section>
    </article>

</body>

</html>